<nav class="navbar navbar-dark bg-primary">
<label class="">Rxjs</label>
</nav>
<div  class="d-flex flex-row justify-content-center align-items-center">
<div class="card flex-fill" style="width: 18rem;" >
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item">MAp  {{array |json}}</li>
  </ul>
  <ul id="1">

  </ul>
</div>
<div class="card flex-fill" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">MAp + MergeAll {{array |json}}</li>
    
  </ul>
  <ul  id="2"></ul>
</div>
<div class="card flex-fill" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">MergeMAp  {{array |json}}</li>
  </ul>
  <ul id="3"></ul>
</div>
</div>